.appFooter {
    position: fixed;
    bottom: 0;
    width: calc(100% - 230px);
    left: 230px;
    height: 50px;
}




@media screen and (max-width: 768px) {
    .appFooter {
        width: 100%;
        left: 0;
    }
}