.wrapper {
    height: 82vh;
    width: 75%;
    margin: auto;

}

@media screen and (min-width: 768px) {
    .wrapper {
        margin-left: 15rem;
    }
}

.book_card {
    width: 300px;
    height: 220px;
    overflow-y: auto;
}

.book_card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.book_cover {
    height: 190px;
    max-width: 130px;
    object-fit: cover;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
}