.wrapper {
    height: 70vh;
    width: 75%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px;
    background: rgb(229, 229, 229);
}

.book_card:hover {
    cursor: pointer;
    transform: scale(1.1);
}