.sidebar {
    height: calc(100vh - 50px);
    width: 230px;
    position: fixed;
    left: 0;
    top: 72px;
}

.last_search:hover {
    cursor: pointer;
    background-color: rgb(201, 199, 199);
    color: black;

}

.last_search {
    max-width: 90%;
    overflow-x: hidden;
}



.clear:hover {
    cursor: pointer;
}