.social_icon_container {
    max-height: 450px;
    overflow-y: auto;
}



.social_icon_img {
    width: 100px;
    aspect-ratio: 1;
}

.social_icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.social_icon_img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.social_post_response {
    border: 1px solid gray;
    padding: 0.5rem;
    box-shadow: 0px 8px 20px 3px;
    background-color: whitesmoke;
    width: 50%;
    border-radius: 8px;
}

.social_post_response p {
    max-width: 100%;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .social_post_response {
        width: 75%;
    }

}